services:
  proxy_nginx:
    image: "{{ proxy_app_image }}"
    restart: unless-stopped
    ports:
      - "{{ https_port }}":"{{ https_port }}"
      - "{{ http_port }}":"{{ http_port }}"
    environment:
      - NGINX_ENVSUBST_TEMPLATE_SUFFIX="{{ proxy_app_file_extention }}"
      - HTTPS_PORT="{{ https_port }}"
      - HTTP_PORT="{{ http_port }}"
      - SSL_DIR="{{ ssl_dir }}"
      - CERT_FILE="{{ cert_name }}.pub"
      - KEY_FILE="{{ key_name}}.key"
    volumes:
      - "{{ proxy_app_conf_dir }}":/etc/nginx/conf.d:ro
      - "{{ proxy_app_dir }}"/:"{{ ssl_dir }}"/:ro
    networks:
      - "{{ net_name }}"
    depends_on: mysql

  mysql:
    image: "{{ mysql_image_name }}"
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: "{{ mysql_root_pass }}"
      MYSQL_DATABASE: "{{ mysql_db_name }}"
      MYSQL_USER: "{{ mysql_user }}"
      MYSQL_PASSWORD: "{{ mysql_user_pass }}"
    volumes:
      - "{{ mysql_data_dir }}":/var/lib/mysql:rw
    networks:
      - "{{ net_name }}"

networks:
  "{{ net_name }}":
    external: true
