services:
  proxy_nginx:
    image: "{{ proxy_app_image }}"
    restart: unless-stopped
    ports:
      - "{{ ssl_port }}":"{{ ssl_port }}"
      - "{{ http_port }}":"{{ http_port }}"
    environment:
      - NGINX_ENVSUBST_TEMPLATE_SUFFIX="{{ proxy_app_file_extention }}"
      - SSL_PORT="{{ ssl_port }}"
      - HTTP_PORT="{{ http_port }}"
      - SSL_DIR=${SSL_DIR}
      - CERT_FILE=${CERT_FILE}
      - KEY_FILE=${KEY_FILE}
    volumes:
      - ${PROXY_FILE}:${DEFAULT_NGX_CONF_FILE}:ro
      - ${HOST_SSL_DIR}/${CERT_FILE}:${SSL_DIR}/${CERT_FILE}:ro
      - ${HOST_SSL_DIR}/${KEY_FILE}:${SSL_DIR}/${KEY_FILE}:ro
    networks:
      - ${NET_NAME}

  mysql:
    image: "{{ mysql_image_name }}"
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: "{{ mysql_root_pass }}"
      MYSQL_DATABASE: "{{ mysql_db_name }}"
      MYSQL_USER: "{{ mysql_user }}"
      MYSQL_PASSWORD: "{{ mysql_user_pass }}"
    volumes:
      - ${DB_DATA_LOCAL}:${DB_DATA_DOCKER}:rw
    networks:
      - ${NET_NAME}

networks:
  app_network:
    external: true
